/* noto-serif-regular - latin_cyrillic */
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('/fonts/noto-serif-v21-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/noto-serif-v21-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-italic - latin_cyrillic */
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 400;
	src: local(''),
	url('/fonts/noto-serif-v21-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/noto-serif-v21-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700 - latin_cyrillic */
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url('/fonts/noto-serif-v21-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/noto-serif-v21-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-700italic - latin_cyrillic */
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 700;
	src: local(''),
	url('/fonts/noto-serif-v21-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/noto-serif-v21-latin_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - latin_cyrillic */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('/fonts/jetbrains-mono-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/jetbrains-mono-v13-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-700 - latin_cyrillic */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url('/fonts/jetbrains-mono-v13-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/jetbrains-mono-v13-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media screen {
	html,
	body,
	.full-height {
		height: 100%;
	}

	.container {
		padding-top: 42px;
		overflow: hidden;
		white-space: nowrap;
		}
		.half-width, .slider {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			}
		.half-width {
			position: relative;
			width: calc(50% - 3px);
			background-color: #fff;
			}
		.slider {
			width: 6px;
			cursor: ew-resize;
			background: radial-gradient(rgba(0, 0, 0, 0.1) 21%, transparent 22%) 3px 3px,
		radial-gradient(rgba(0, 0, 0, 0.1) 21%, transparent 22%) 0 0;
			background-size: 6px 6px;
			/* Disabling draggability */
			left: 0 !important;
			top: 0 !important;
			transform: none !important;
			}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}
body, textarea, button {
	font: 16px/1.5 "Noto Serif", serif;
}
:focus-visible {
	outline-offset: -2px;
	outline: 2px solid #ff8b42;
	box-shadow: 0 0 3px 1px #ff8b42;
}
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	}
	sub {
		top: 0.4em;
		}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
h1, h2, h3 {
	line-height: 1.2;
	margin: 1em 0 0.25em;
	page-break-after: avoid;
	break-after: avoid;
	}
	h1 {
		margin: 0.5em 0 0.25em;
		font-size: 225%;
		}
	h2 {
		font-size: 175%;
		}
	h3 {
		font-size: 125%;
		}
p {
	margin: 0 0 1em;
}

body.e404 {
	background: #c6b4aa;
	background: linear-gradient(to bottom, #cba693, #e3ccc1);
	color: #742600;
	contain: paint;
}
div.e404-body {
	padding: 0 16px;
	font-size: 2em;
}
div.whatsnew-body {
	padding: 0 16px;
	max-width: 750px;
}
.e404-text {
	font-size: 10em;
	line-height: 0.9;
	margin: 0 0 0.125em;
	color: #fff;
	}
	.e404-text:before {
		content: '404';
		color: #00000013;
		position: absolute;
		filter: blur(10px);
		transform: perspective(1000px) rotateX(286deg) translate(0px, -40px);
		transform-origin: bottom;
		z-index: -1;
		}
div.page-header, div.header {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #742600;
	color: #fff;
	height: 42px;
	display: flex;
	align-items: center;
	padding: 0 16px;
}
div.header {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	z-index: 20;
	}
	.header-item {
		display: flex;
		align-items: center;
		flex: 1 1 50%;
		}
		.header-item-right {
			justify-content: space-between;
			}
	.header a.link,
	.page-header a.link {
		color: #fff;
		text-decoration: none;
		border-bottom: thin solid rgba(255, 255, 255, 0.7);
		height: 16px;
		display: inline-block;
		}
		.header a.link:focus-visible,
		.page-header a.link:focus-visible {
			outline-offset: 0;
			}
	.menu-container {
		position: relative;
		z-index: 1;
		user-select: none;
		cursor: pointer;
		width: 50px;
		height: 42px;
		margin: 0 0 0 -16px;
		background: 16px 50% no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20'%3E%3Cpath d='M0 1 h24 M0 10 h24 M0 19 h24' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
		}
		.menu-container:focus-visible {
			outline: none;
			box-shadow: none;
			}
			.menu-container:focus-visible::after {
				content: '';
				position: absolute;
				top: 2px;
				left: 8px;
				right: 2px;
				bottom: 2px;
				outline-offset: -2px;
				outline: 2px solid #ff8b42;
				box-shadow: 0 0 3px 1px #ff8b42;
				}
		.menu-container .menu-toggle {
			width: 100%;
			}
		.menu-container .menu,
		.menu-container .submenu-content {
			display: none;
			position: absolute;
			background-color: #742600;
			list-style-type: none;
			margin: 0;
			padding: 0;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			}
		.menu-container .menu {
			top: 100%;
			}
		.menu-container .submenu-content {
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: #b54711 #742600;
			top: 0;
			left: 100%;
			z-index: 2;
			}
			.menu-container li.hr {
				background: rgba(255, 255, 255, 0.31);
				height: 9px;
				border: 4px solid #742600;
				border-width: 4px 16px;
				}
			.menu-container li.menu-item {
				position: relative;
				}
				.menu-container li.menu-item:has(ul) a.menu-link {
					padding-right: 28px;
					}
				.menu-container li.menu-item:has(ul):after {
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid white;
					position: absolute;
					right: 7px;
					top: 12px;
					z-index: 3;
					pointer-events: none;
					}
				.menu-container a.menu-link {
					color: #ffffff;
					text-decoration: none;
					transition: background-color 0.2s;
					display: block;
					padding: 4px 16px;
					white-space: nowrap;
					max-width: 25em;
					text-overflow: ellipsis;
					overflow: hidden;
					}
					/*.menu-container a.menu-link span.shortcut {*/
					/*	opacity: 0.5;*/
					/*	float: right;*/
					/*	}*/
					.menu-container a.menu-link:hover {
						background-color: #8e3800;
						}
	h1.title {
		position: relative;
		margin: 0;
		height: 30px;
		width: 239px;
		background: 0 4px no-repeat url(../../i/logo_.svg), 100% 3px no-repeat url(../../i/sublogo2.svg);
		text-indent: -9999em;
		}
	#storage-warning {
		background: 5px center no-repeat url("data:image/svg+xml, %3Csvg fill='%23ff0' height='28' width='32' xmlns='http://www.w3.org/2000/svg' viewBox='0 32 512 446'%3E%3Cpath d='M256,34.297L0,477.703h512L256,34.297z M256,422.05c-9.22,0-16.696-7.475-16.696-16.696s7.475-16.696,16.696-16.696 c9.22,0,16.696,7.475,16.696,16.696S265.22,422.05,256,422.05z M239.304,344.137V177.181h33.391v166.956H239.304z'%3E%3C/path%3E%3C/svg%3E");
		display: none;
		flex: 1 1 auto;
		line-height: 16px;
		padding: 0 5px 0 45px;
		margin-left: 16px;
		color: #ff0;
		pointer-events: none;
		}
	.copyright {
		line-height: 16px;
		text-align: right;
		}
	.demo-control, .copyright {
		white-space: nowrap;
		}
	.demo-control {
		text-align: left;
		padding: 0 16px;
		user-select: none;
		}
		.header .toolbar-button,
		.demo-control .control-item {
			display: inline-block;
			vertical-align: middle;
			}
		.header .toolbar-button,
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.3);
			color: white;
			background-clip: padding-box;
			border-color: transparent;
			border-style: solid;
			border-width: 15px 1px 0;
			height: 42px;
			min-width: 30px;
			line-height: 28px;
			padding: 0 4px;
			text-align: center;
			cursor: pointer;
			cursor: hand;
			position: relative;
			}
			.header .toolbar-button:focus-visible,
			.demo-control .control-item:focus-visible {
				outline: none;
				box-shadow: none;
				}
				.header .toolbar-button:focus-visible::after,
				.demo-control .control-item:focus-visible::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					outline-offset: -2px;
					outline: 2px solid #ff8b42;
					box-shadow: 0 0 3px 1px #ff8b42;
					}
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.15);
			display: inline-block;
			}
		.demo-control .control-input {
			display: none;
			}
		.demo-control .control-input:checked + .control-item {
			background-color: rgba(255, 255, 255, 0.4);
			}

.opt__strict .not-strict {
	opacity: 0.3;
}

.source, .ldt label.ldt-label {
	padding: 0;
}

.source, .ldt pre.ldt-pre, .ldt textarea, #versionSelectedText {
	font-family: Monaco, Consolas, "Liberation Mono", "JetBrains Mono", monospace;
	font-size: 14px;
	line-height: 21px;
}
pre.ldt-pre span {
	vertical-align: top;
}
.ldt pre, .ldt textarea {
	padding: 16px 16px 0;
}
textarea.source {
	padding: 16px 16px 0;
	width: 100%;
}
/* Styles to be applied before LDT initialization */
textarea {
	resize: none;
	display: block;
	outline: none;
	border: 0;
	margin: 0;
}
.result-html img,
.result-html .svg-preview {
	max-width: 100%;
}
.result-src,
.result-html {
	display: none;
	padding: 16px 16px 16px 13px;
	margin: 0;
	overflow: auto;
	scrollbar-width: thin;
}
.ldt {
	scrollbar-width: thin;
}
.result-src {
	white-space: pre-wrap;
}
.result-src-content{
	white-space: pre-wrap;
}

.result-as-html .result-html,
.result-as-habr .result-src,
.result-as-htmltex .result-src,
.result-as-debug .result-src,
.result-as-md .result-src,
.result-as-src .result-src {
	display: block;
}

.result-html {
	padding-top: 0;
	padding-bottom: 0;
	}
	.result-html .svg-preview {
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
		break-inside: avoid;
		zoom: 1.07;
		}
	.result-html p.line[align="center"] {
		text-align: center;
		break-inside: avoid;
		break-before: avoid;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		}
		.result-html p.line[align="center"] span {
			margin: 0 0 0 auto;
			}
		.result-html p.line[align="center"] .svg-preview {
			flex-grow: 1;
			}

@media print {
	.result-html {
		padding: 0;
	}
	.source, .ldt pre.ldt-pre, .ldt textarea {
		display: none;
	}
	div.header {
		display: none;
	}
	body:after {
		margin-top: 0.25em;
		border-top: #ddd 1px dotted;
		font-size: 0.75em;
		display: block;
		content: "Created in Upmath.me";
	}
}

.hljs {
	background: none;
	padding: 0;
}

body {
	scrollbar-color: #c3986a #fce9d1;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: #fce9d1;
}
::-webkit-scrollbar-thumb {
	background: #c3986a;
}
::-webkit-scrollbar-corner {
	background: #e5cda5;
}


/* Markdown block highlight styles */
.ldt .header,
.ldt .header2 {
	font-weight: bold;
	color: blue;
}
.ldt .quote {
	background: #fff3ea;
}
.ldt .list {
	background: #f2ffef;
}
.ldt .list-mark {
	font-weight: bold;
}
.ldt .fence {
	background: #eee;
}


/* Markdown inline highlight styles */
.ldt .sub,
.ldt .sup {
	color: goldenrod;
}
.ldt .code {
	background: #eee;
}
.ldt .link {
	color: blue;
}
.ldt .latex {
	color: #7ca600;
}
.ldt .bold {
	font-weight: bold;
}
.ldt .italic {
	color: #0dd;
}
.ldt .strike {
	text-decoration: line-through;
}
.ldt .latexBlock.keyword {
	color: blue;
}
.ldt .latexBlock.keyword2 {
	color: #0dd;
}
.ldt .latexBlock.keyword3 {
	color: #8ECA81;
}
.ldt .latexBlock.bracket {
	color: #ff0150;
}
.ldt .latexBlock.comment {
	color: #aaa;
}
.ldt .latexBlock.index {
	color: #f5d4a5;
}
.ldt .latexBlock.delimeter {
	font-weight: bold;
}

.ldt textarea {
	/* Some opacity for old browsers and debugging sync problems of textarea and underlying highlighted text. */
	color: rgba(0,0,0,0.1) !important;
}

@media screen and (max-width: 1490px) {
	#storage-warning {
		position: absolute;
		background-color: rgba(116, 38, 0, 0.75);
		text-shadow: #742600 0 0 5px;
		top: 100%;
		left: 0;
		padding-block: 2px;
	}
}

@media screen and (max-width: 950px) {
	.result-src,
	.result-html {
		padding-left: 16px;
	}
	.half-width { width: 50% !important; }
	.slider { display: none; }
}

@media screen and (max-width: 874px) {
	div.header {font-size: 15px;}
	h1.title {
		width: 139px;
		background: 0 4px no-repeat url(../../i/logo_.svg);
	}
}
@media screen and (max-width: 639px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	.e404-text {
		font-size: 5em;
	}

	div.header {font-size: 14px;}
}
@media screen and (max-width: 459px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	div.header {font-size: 14px;}
	h1.title {
		width: 28px;
		height: 30px;
		background-size: auto 90%, auto;
		background-position: 0 50%, 200% 0;
		left: -4px;
	}
	.header .toolbar-button, .demo-control .control-item {
		padding: 0 1px;
	}
}
@media screen and (max-width: 599px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
	}

	.copyright {
		display: none;
	}

	.half-width {
		width: 85% !important;
		margin-right: -70%;
	}

	#source-block {
		z-index: 1;
	}

	#container-block-source #source-block,
	#container-block-result #result-block {
		z-index: 10;
	}

	#container-block-source #result-block,
	#container-block-result #source-block {
		background: #999;
		opacity: 0.6;
	}

	#container-block-source #result-block .toolbar,
	#container-block-source #result-block .demo-control,
	#container-block-result #source-block .toolbar {
		display: none;
	}
}

h1, h2, h3, #versionsDialog, #versionRestoreButton, #versionCloseButton {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#versionsDialog[open]::backdrop {
	background: rgba(71, 23, 0, 0.51);
	backdrop-filter: blur(2px);
}

#versionsDialog[open] {
	width: calc(100% - 60px);
	height: calc(100% - 90px);
	padding: 0;
	display: flex;
	color: #fff;
	background: #742600;
	}
	.version-preview {
		width: calc(80% - 300px);
		position: relative;
		}
		#versionSelectedText {
			margin: 8px 8px 0 0;
			overflow: auto;
			height: calc(100% - 54px);
			white-space: pre-wrap;
			word-wrap: break-word;
			color: black;
			background: white;
			scrollbar-width: thin;
			padding: 16px;
			}
	.version-list {
		width: calc(300px + 20%);
		}
		.version-list-title {
			margin: 0;
			height: 42px;
			padding: 5px 16px;
			}
		.version-list-items {
			max-height: calc(100% - 42px);
			scrollbar-width: thin;
			scrollbar-color: #b54711 #742600;
			overflow-y: auto;
			}
			.version-list-items a.version-item {
				display: block;
				text-decoration: none;
				color: currentColor;
				padding: 3px 16px;
				line-height: 20px;
				}
				.version-list-items a.version-item.selected {
					background: #b54711;
					}
				.version-list-items a.version-item:hover {
					background: #8e3800;
					}
				.version-list-items .version-date {
					font-size: 0.625em;
					line-height: 1;
					position: relative;
					top: -3px;
					}
				.version-list-items .version-header {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
					display: block;
					position: relative;
					top: 1px;
					}
	#versionRestoreButton, #versionCloseButton {
		position: absolute;
		bottom: 8px;
		color: #fff;
		background: #8e3800;
		border: none;
		user-select: none;
		}
		#versionRestoreButton {
			left: 0;
			}
		#versionCloseButton {
			right: 8px;
			}
