html,
body,
.full-height {
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}
body, textarea, button {
	font: 16px/1.5 Calibri, "Trebuchet MS", sans-serif;
}
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	top: 0.4em;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
h1, h2, h3 {
	font: 16px/1.2 Cambria, Georgia, serif;
	margin: 1em 0 0;
	font-weight: normal;
	}
	h1 {
		margin: 0.5em 0 0.25em;
		font-size: 225%;
		}
	h2 {
		margin: 1em 0 0.25em;
		font-size: 175%;
		}
	h3 {
		font-size: 125%;
		}

div.header {
	background: #742600;
	color: #fff;
	padding: 0 16px;
	margin: 0;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
	}
	.header-item {
		flex: 0 0 auto;
		}
	.header a.link {
		color: #fff;
		text-decoration: none;
		border-bottom: thin solid rgba(255, 255, 255, 0.7);
		height: 16px;
		display: inline-block;
		}
	h1.title {
		position: relative;
		left: -1px;
		top: 1px;
		margin: 0;
		width: 133px;
		height: 33px;
		background:
			0 0 no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="133" height="21" viewBox="0 0 262 42"><path fill-rule="evenodd" fill="#FFF" d="M260.603 37.646c.185.399.557.682 1.113.849.334.111 1.447.167 3.34.167V41h-14.862v-2.338h1.085c1.373 0 2.287-.092 2.742-.276.454-.184.746-.479.876-.885.112-.313.167-1.299.167-2.958V22.464h-20.122v12.385c0 1.466.097 2.403.292 2.811.195.409.571.687 1.127.835.408.111 1.568.167 3.479.167V41h-14.973v-2.338h.946c1.447 0 2.352-.079 2.714-.236.361-.158.649-.46.862-.905.213-.445.32-1.234.32-2.366V8.409c0-1.215-.097-2.056-.292-2.523a2.014 2.014 0 0 0-.918-1.037c-.418-.225-1.109-.337-2.074-.337h-1.558V2.174h14.973v2.338h-1.03c-1.187 0-2.036.112-2.546.336-.511.225-.868.617-1.072 1.178-.167.411-.25 1.279-.25 2.605v10.827h20.122V8.91c0-1.438-.046-2.306-.139-2.605-.149-.598-.469-1.046-.96-1.344-.492-.299-1.239-.449-2.24-.449h-1.531V2.174h14.862v2.338h-1.336c-1.039 0-1.777.117-2.213.351-.436.234-.742.551-.918.953-.177.402-.264 1.266-.264 2.593v26.44c0 1.466.092 2.398.278 2.797zM212.485 6.753c-1.652-1.234-3.767-1.851-6.346-1.851-1.076 0-1.716.042-1.92.125a.763.763 0 0 0-.432.431c-.083.205-.125.854-.125 1.949v26.941c0 1.28.07 2.143.209 2.589.139.445.338.788.598 1.029.26.242.617.413 1.072.515.454.102 1.47.163 3.047.181V41h-14.973v-2.338c1.651-.018 2.662-.074 3.033-.168.65-.187 1.114-.542 1.392-1.065.278-.522.417-1.485.417-2.886v-27.5c0-.853-.041-1.372-.125-1.557-.083-.185-.241-.329-.473-.431-.232-.102-.71-.153-1.433-.153-2.023 0-3.642.26-4.857.779-1.216.52-2.361 1.401-3.437 2.644-1.077 1.244-1.995 2.858-2.756 4.843l-2.505-.891L186.879.866h1.948l.279 1.308h23.824l.223-1.308h2.031l4.092 11.411-2.505.891c-1.207-3.043-2.635-5.181-4.286-6.415zm-46.484 31.909a15.79 15.79 0 0 1 1.308-.056c.891 0 1.475-.092 1.754-.278.538-.352.807-.797.807-1.336 0-.389-.26-1.345-.779-2.867l-2.57-7.514h-14.066l-3.028 8.405c-.316.872-.473 1.475-.473 1.809 0 .372.097.696.292.974.195.279.459.487.793.627.334.139.872.208 1.614.208.501 0 .909.01 1.225.028V41h-11.607v-2.338c1.076 0 1.851-.106 2.324-.32.474-.213.886-.557 1.239-1.03.352-.473.816-1.47 1.392-2.991l12.113-32.147h4.553l12.083 32.459c.594 1.63 1.192 2.709 1.795 3.237s1.415.792 2.436.792h.612V41h-13.817v-2.338zm-6.547-31.478l-6.016 16.699h11.99l-5.974-16.699zM119.95 38.662h1.057c.947 0 1.638-.074 2.074-.223a2.386 2.386 0 0 0 1.085-.737c.288-.343.45-.7.487-1.072.093-.76.14-1.354.14-1.781V6.266L112.113 41h-2.782L96.571 6.767v27.498c0 1.4.12 2.348.362 2.843.241.495.616.877 1.127 1.148.51.271 1.424.406 2.741.406h.891V41H88.027v-2.338h.779c1.317 0 2.259-.139 2.825-.417.566-.279.969-.673 1.21-1.183s.362-1.517.362-3.02V8.687c0-1.419-.102-2.358-.306-2.816a2.022 2.022 0 0 0-1.016-1.023c-.473-.224-1.313-.336-2.519-.336h-1.335V2.174h12.264l11.462 30.755L122.95 2.174h11.834v2.338h-1.002c-1.206 0-2.017.103-2.435.309-.417.205-.747.565-.988 1.079s-.362 1.359-.362 2.537v25.605c0 1.614.098 2.663.292 3.145.195.483.52.849.975 1.099.454.251 1.294.376 2.518.376h1.002V41H119.95v-2.338zM75.317 23.201c-1.886.826-4.854 1.239-8.904 1.239h-7.106v9.964c0 1.484.084 2.421.251 2.811.222.538.529.914.918 1.127.39.214 1.178.32 2.366.32h1.336V41H49.149v-2.338h.918c1.28 0 2.152-.106 2.616-.32a2.013 2.013 0 0 0 1.016-1.002c.213-.454.32-1.312.32-2.574V8.214c0-1.234-.097-2.061-.292-2.482-.195-.42-.52-.729-.974-.925-.455-.197-1.35-.295-2.686-.295h-.918V2.174h15.348c4.661 0 7.874.297 9.638.891 2.21.705 4.034 1.911 5.474 3.618 1.439 1.707 2.159 3.878 2.159 6.513 0 2.245-.549 4.184-1.645 5.817-1.319 1.967-2.921 3.363-4.806 4.188zm-.816-14.862c-.929-1.308-2.193-2.194-3.791-2.658-1.115-.315-3.29-.473-6.524-.473h-4.879V21.49h5.994c3.029 0 5.153-.269 6.371-.807 1.217-.538 2.225-1.471 3.024-2.798.799-1.326 1.199-2.88 1.199-4.661 0-1.949-.465-3.577-1.394-4.885zM37.087 5.353c-.548.561-.821 1.616-.821 3.167v17.896c0 3.266-.613 5.989-1.837 8.169-1.225 2.18-3.006 3.906-5.344 5.176-2.338 1.271-5.056 1.907-8.155 1.907-2.932 0-5.613-.65-8.043-1.948-2.431-1.299-4.217-2.918-5.358-4.857s-1.712-4.374-1.712-7.306V8.52c0-1.233-.111-2.097-.334-2.592-.222-.495-.547-.855-.974-1.079-.427-.225-1.169-.337-2.226-.337H.891V2.174h15.002v2.338h-1.002c-1.225 0-2.097.122-2.617.365-.408.187-.714.504-.918.952-.204.449-.306 1.346-.306 2.691v17.495c0 3.12.376 5.433 1.127 6.937.751 1.504 2.004 2.767 3.757 3.788 1.754 1.022 3.679 1.532 5.775 1.532 2.116 0 4.12-.547 6.012-1.643 1.893-1.096 3.219-2.396 3.98-3.9.761-1.505 1.141-3.882 1.141-7.132V8.771c0-1.233-.121-2.12-.362-2.662-.241-.541-.607-.943-1.099-1.205-.492-.261-1.257-.392-2.296-.392H28V2.174h12.997v2.338h-.891c-1.466 0-2.472.281-3.019.841z"/></svg>'),
			1px 100% no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="131" height="8" viewBox="0 0 262 16"><path fill-rule="evenodd" fill="#FFF" d="M261.291 6.937a.95.95 0 0 1-.686.275.85.85 0 0 1-.31-.05 2.04 2.04 0 0 1-.38-.22c-.368-.24-.675-.36-.921-.36-.334 0-.701.14-1.101.42-.508.361-.905.714-1.192 1.061v4.615c0 .4.022.672.065.816a.868.868 0 0 0 .586.595c.147.047.404.07.771.07h.33V15h-5.175v-.841h.43c.407 0 .674-.036.801-.11a.927.927 0 0 0 .386-.415c.083-.177.125-.496.125-.956V6.772h-1.732v-.831c.486-.039.918-.12 1.297-.242a7.04 7.04 0 0 0 1.298-.599h.748v1.892a5.527 5.527 0 0 1 1.652-1.381c.627-.34 1.191-.511 1.692-.511.493 0 .884.117 1.171.351.287.233.43.517.43.851 0 .24-.095.452-.285.635zm-11.922 7.688c-.73.41-1.603.615-2.617.615-1.615 0-2.828-.504-3.639-1.511-.811-1.008-1.216-2.192-1.216-3.554 0-.994.21-1.877.631-2.647a4.454 4.454 0 0 1 1.766-1.792c.758-.424 1.617-.636 2.578-.636.981 0 1.83.204 2.547.611.718.407 1.283 1.001 1.697 1.782.414.78.621 1.671.621 2.672 0 1.001-.212 1.892-.636 2.673-.424.781-1.001 1.376-1.732 1.787zm-.005-6.822c-.227-.547-.569-.973-1.026-1.276a2.728 2.728 0 0 0-1.546-.456c-.761 0-1.405.301-1.932.901-.668.748-1.001 1.835-1.001 3.263 0 1.375.283 2.423.851 3.143.513.641 1.211.961 2.092.961.567 0 1.072-.15 1.516-.45.444-.3.803-.779 1.076-1.436.274-.658.411-1.43.411-2.318 0-.867-.147-1.645-.441-2.332zm-11.216 7.437c-.508 0-.968-.113-1.379-.34-.411-.227-.692-.494-.842-.801-.151-.307-.226-.841-.226-1.601V6.342h-1.752v-.841c.563-.127 1.017-.324 1.362-.591a2.99 2.99 0 0 0 .838-1.041c.215-.427.389-1.071.523-1.932h.711v3.404h2.972v1.001h-2.972v6.035c0 .514.045.881.135 1.102.09.22.243.4.46.54.217.14.459.21.726.21.634 0 1.334-.283 2.102-.851v.971c-.876.594-1.762.891-2.658.891zm-10.345-1.081h.411c.447 0 .747-.04.901-.12a.687.687 0 0 0 .325-.34c.063-.147.095-.491.095-1.031V6.772h-1.732v-.831a7.8 7.8 0 0 0 1.397-.277 7.57 7.57 0 0 0 1.286-.564h.731v8.028c0 .28.04.491.12.631.08.14.191.242.335.305.143.064.405.095.786.095h.47V15h-5.125v-.841zm2.543-11.261c-.321 0-.594-.113-.821-.34a1.119 1.119 0 0 1-.34-.821c0-.32.113-.592.34-.816.227-.223.5-.335.821-.335.32 0 .594.112.821.335.226.224.34.496.34.816 0 .32-.114.594-.34.821-.227.227-.501.34-.821.34zm-7.257 10.671c-.668.607-1.293 1.037-1.877 1.291a4.39 4.39 0 0 1-1.757.38c-1.208 0-2.211-.485-3.008-1.456-.797-.971-1.196-2.141-1.196-3.509 0-.974.212-1.866.636-2.677.423-.811.982-1.43 1.676-1.857a4.273 4.273 0 0 1 2.282-.641c.634 0 1.222.11 1.762.331.541.22 1.034.55 1.482.991V2.007h-1.682v-.851c.454-.04.869-.118 1.246-.235.377-.116.849-.318 1.417-.605h.75v12.142c0 .56.014.9.04 1.021.067.253.181.43.341.53.16.1.47.15.931.15h.43V15l-3.473.16v-1.591zm0-4.775c0-.541-.102-.983-.306-1.326-.203-.344-.537-.643-1.001-.896a2.903 2.903 0 0 0-3.033.095c-.49.317-.874.774-1.151 1.371-.277.598-.415 1.32-.415 2.167 0 .801.128 1.493.385 2.077.257.584.602 1.028 1.036 1.332.434.303.878.455 1.332.455.447 0 .954-.128 1.521-.385a6.19 6.19 0 0 0 1.632-1.106V8.794zm-14.94 4.949a2.98 2.98 0 0 0 1.647.466c.52 0 1.024-.121 1.511-.365.487-.244 1.078-.719 1.772-1.427l.64.521c-.487.581-.959 1.041-1.416 1.381-.457.341-.889.579-1.296.716-.407.137-.884.205-1.432.205-.981 0-1.815-.2-2.502-.6-.787-.461-1.391-1.061-1.812-1.802-.42-.741-.63-1.615-.63-2.623 0-1.054.203-1.955.61-2.702a4.517 4.517 0 0 1 1.707-1.767c.731-.43 1.576-.646 2.537-.646.714 0 1.335.112 1.862.335.527.223.974.559 1.341 1.009.367.449.634.963.801 1.542.094.34.147.779.16 1.318h-7.076c-.021.328-.031.572-.031.733 0 .842.147 1.593.441 2.251.293.659.682 1.144 1.166 1.455zm3.649-5.369c-.1-.614-.242-1.068-.426-1.362a1.943 1.943 0 0 0-.781-.7 2.437 2.437 0 0 0-1.136-.261c-.42 0-.814.087-1.181.261a2.529 2.529 0 0 0-.916.72c-.243.307-.455.754-.635 1.342h5.075zm-19.963 5.785h.421c.413 0 .675-.028.785-.085a.287.287 0 0 0 .165-.275c0-.074-.02-.15-.06-.23-.013-.034-.146-.224-.4-.571l-3.197-4.271-3.497 4.399c-.213.261-.333.421-.36.482a.437.437 0 0 0-.06.21c0 .127.077.221.23.281.1.04.337.06.711.06h.42V15h-4.522v-.841c.413 0 .715-.028.905-.085.191-.057.382-.158.576-.305.193-.147.44-.404.741-.771L188.9 7.92l-3.737-4.932c-.373-.498-.679-.808-.915-.929-.237-.121-.619-.182-1.147-.182v-.841h5.336v.841h-.42c-.4 0-.654.027-.761.081a.275.275 0 0 0-.16.263c0 .081.02.162.06.242.04.081.16.256.361.526l2.616 3.553 2.853-3.554c.267-.336.401-.592.401-.767 0-.108-.052-.192-.155-.253-.104-.06-.322-.091-.656-.091h-.51v-.841h4.529v.841c-.54 0-.929.057-1.166.171-.237.114-.565.426-.986.936L190.8 7.356l4.299 5.643c.274.36.504.615.691.765.187.15.367.254.54.31.174.057.461.085.861.085V15h-5.356v-.841zm-15.667-.416a2.977 2.977 0 0 0 1.646.466c.521 0 1.025-.121 1.512-.365.487-.244 1.078-.719 1.772-1.427l.64.521c-.487.581-.959 1.041-1.416 1.381-.457.341-.889.579-1.296.716-.407.137-.885.205-1.432.205-.981 0-1.815-.2-2.502-.6-.788-.461-1.392-1.061-1.812-1.802-.42-.741-.631-1.615-.631-2.623 0-1.054.204-1.955.611-2.702a4.517 4.517 0 0 1 1.707-1.767c.73-.43 1.576-.646 2.537-.646.714 0 1.335.112 1.862.335.527.223.974.559 1.341 1.009.367.449.634.963.801 1.542.093.34.147.779.16 1.318h-7.077c-.02.328-.03.572-.03.733 0 .842.147 1.593.441 2.251.293.659.682 1.144 1.166 1.455zm3.648-5.369c-.1-.614-.242-1.068-.425-1.362a1.95 1.95 0 0 0-.781-.7 2.437 2.437 0 0 0-1.136-.261c-.42 0-.814.087-1.181.261a2.529 2.529 0 0 0-.916.72c-.244.307-.455.754-.636 1.342h5.075zm-10.28-5.691c-.594-.444-1.354-.666-2.282-.666-.387 0-.617.015-.691.045a.274.274 0 0 0-.155.156c-.03.073-.045.307-.045.7v9.69c0 .46.025.77.075.931.05.16.122.283.216.37a.803.803 0 0 0 .385.185c.163.037.529.059 1.096.065V15h-5.385v-.841c.594-.006.957-.027 1.091-.06a.78.78 0 0 0 .5-.383c.1-.188.15-.534.15-1.038V2.787c0-.306-.015-.493-.045-.56a.315.315 0 0 0-.17-.155c-.083-.036-.255-.055-.515-.055-.728 0-1.31.094-1.747.281-.437.187-.849.504-1.236.951-.387.447-.718 1.027-.991 1.741l-.901-.32 1.441-4.104h.701l.1.47h8.569l.08-.47h.73l1.472 4.104-.901.32c-.434-1.094-.948-1.863-1.542-2.307zm-10.43 12.247c-.554.16-1.051.24-1.491.24-.474 0-.873-.067-1.196-.2a1.956 1.956 0 0 1-.796-.586 1.948 1.948 0 0 1-.401-.915c-.8.627-1.525 1.067-2.172 1.321a5.35 5.35 0 0 1-1.962.38c-.921 0-1.668-.25-2.242-.751-.574-.5-.861-1.087-.861-1.761 0-.407.105-.794.316-1.161.21-.367.531-.691.962-.971.431-.281 1.107-.527 2.029-.741.922-.214 2.202-.407 3.839-.581l.001-1.091c0-.74-.207-1.269-.622-1.586-.414-.317-.999-.476-1.755-.476-.375 0-.702.045-.983.135-.281.09-.507.214-.677.371a1.47 1.47 0 0 0-.377.535c-.033.074-.113.357-.24.851-.154.601-.464.901-.931.901a.839.839 0 0 1-.646-.265c-.163-.177-.245-.416-.245-.716 0-.44.163-.872.49-1.296.327-.424.826-.774 1.497-1.051.671-.277 1.463-.416 2.377-.416.854 0 1.585.132 2.192.395.608.264 1.055.642 1.342 1.135.2.34.3.96.3 1.86v3.849c0 .547.017.904.05 1.07.073.287.202.502.385.645.184.144.422.215.716.215.307 0 .674-.07 1.101-.211v.872zm-3.981-4.855c-1.549.227-2.507.384-2.874.471-.728.167-1.249.35-1.563.55-.313.201-.537.416-.671.646a1.412 1.412 0 0 0 .026 1.491c.15.244.362.436.636.576.273.14.564.21.871.21.434 0 .925-.103 1.472-.31.548-.207 1.249-.611 2.104-1.211l-.001-2.423zM135.823 15v-.841h.441c.427 0 .714-.036.861-.11a.745.745 0 0 0 .34-.365c.08-.17.12-.462.12-.876V3.309c0-.484-.037-.808-.11-.973a.691.691 0 0 0-.32-.353c-.14-.07-.437-.106-.891-.106h-.441v-.841h5.416v.841h-.501c-.387 0-.66.037-.821.111a.718.718 0 0 0-.35.323c-.073.142-.11.394-.11.757v9.74c0 .447.017.714.05.801.04.12.127.207.26.26.094.04.364.06.811.06h.751c.861 0 1.608-.125 2.242-.375a4.615 4.615 0 0 0 1.642-1.091c.46-.478.904-1.19 1.331-2.138l.891.301L145.873 15h-10.05zm-10.67.24a3.151 3.151 0 0 1-1.556-.41c-.491-.274-.976-.741-1.457-1.402-.681.608-1.281 1.035-1.802 1.282a5.62 5.62 0 0 1-2.432.53c-.968 0-1.835-.195-2.603-.585-.767-.391-1.359-.916-1.776-1.577a3.973 3.973 0 0 1-.626-2.162c0-.734.175-1.401.526-2.002.35-.601.875-1.134 1.576-1.601.514-.341 1.148-.631 1.902-.871-.554-.227-.974-.467-1.261-.721a2.564 2.564 0 0 1-.891-1.962c0-.807.31-1.485.931-2.032.701-.621 1.541-.931 2.522-.931.968 0 1.769.284 2.403.851.634.567.951 1.238.951 2.012a2.81 2.81 0 0 1-.391 1.446c-.26.444-.624.81-1.091 1.096-.294.194-.681.347-1.161.461.581.187 1.071.432 1.471.736.401.303.813.745 1.237 1.326.423.58.835 1.318 1.236 2.212.647-1.435.971-2.509.971-3.223 0-.24-.074-.414-.22-.521-.147-.106-.441-.16-.881-.16h-.591v-.851h4.665v.851h-.561c-.407 0-.681.029-.821.085a.883.883 0 0 0-.37.296c-.107.14-.184.353-.23.64a10.695 10.695 0 0 1-1.512 3.934c.134.367.357.751.671 1.151.314.401.587.668.821.801.233.134.483.2.75.2.341 0 .624-.105.851-.315.227-.21.341-.456.341-.736 0-.233-.044-.417-.13-.55-.094-.134-.291-.274-.591-.421-.24-.12-.41-.257-.511-.41a.918.918 0 0 1-.15-.511c0-.267.085-.483.256-.65.17-.167.395-.251.675-.251.474 0 .886.206 1.236.616.351.41.526.929.526 1.557 0 .747-.284 1.396-.851 1.946a2.837 2.837 0 0 1-2.052.826zm-5.6-9.929c.377-.394.565-.885.565-1.472 0-.627-.185-1.138-.555-1.531a1.793 1.793 0 0 0-1.357-.591c-.54 0-.994.194-1.361.581-.367.387-.551.89-.551 1.511 0 .607.186 1.108.556 1.502.37.393.822.59 1.356.59.521 0 .97-.197 1.347-.59zm1.806 6.836l-1.571-3.083a9.282 9.282 0 0 0-.551-.931 3.187 3.187 0 0 0-.565-.63 4.27 4.27 0 0 0-.876-.571c-.821.407-1.325.681-1.512.821-.307.22-.58.492-.82.816-.241.323-.418.65-.531.981-.113.33-.17.675-.17 1.036 0 .841.28 1.598.841 2.272.714.861 1.618 1.291 2.712 1.291.541 0 1.065-.117 1.572-.35.701-.334 1.274-.727 1.722-1.181a7.033 7.033 0 0 1-.251-.471zm-21.651 2.012h.281c.48 0 .807-.043.98-.13a.784.784 0 0 0 .376-.38c.076-.167.115-.507.115-1.021V8.944c0-.761-.062-1.288-.185-1.581a1.532 1.532 0 0 0-.631-.716c-.297-.184-.672-.275-1.126-.275-.54 0-1.118.138-1.732.415-.614.277-1.208.686-1.781 1.226v4.615c0 .52.038.867.115 1.041a.778.778 0 0 0 .375.39c.12.067.441.1.961.1h.29V15h-5.165v-.841h.252c.497 0 .836-.041 1.017-.125a.723.723 0 0 0 .383-.445c.04-.107.06-.474.06-1.101V6.772h-1.702v-.831c.594-.066 1.038-.147 1.332-.24.293-.093.717-.294 1.271-.601h.721v1.902c.879-.741 1.631-1.243 2.254-1.506a4.814 4.814 0 0 1 1.894-.396c.546 0 1.029.092 1.449.276.42.183.762.432 1.025.745.263.314.438.671.525 1.071.053.247.08.621.08 1.121v4.405c0 .527.038.866.115 1.016.076.15.198.258.365.325.167.067.577.1 1.231.1V15h-5.145v-.841zm-8.97-7.487c-.107.14-.257.453-.45.94L87.36 15h-1.208l-2.308-5.757L81.566 15h-1.191l-2.958-7.387c-.187-.474-.341-.787-.461-.941a1.258 1.258 0 0 0-.445-.36 1.505 1.505 0 0 0-.666-.131v-.84h4.608v.84h-.321c-.394 0-.654.03-.78.09-.201.094-.301.241-.301.441 0 .187.077.487.23.901l2.074 5.475 2.02-5.08-.187-.472c-.207-.542-.447-.916-.721-1.124-.18-.134-.447-.211-.801-.231v-.84h4.594v.84h-.39c-.367 0-.604.03-.711.09-.187.107-.28.277-.28.511 0 .2.07.477.21.831l2.072 5.475 2.025-5.555c.107-.301.164-.471.17-.511.02-.073.03-.15.03-.23a.526.526 0 0 0-.22-.445c-.147-.111-.417-.166-.811-.166h-.37v-.84h3.884v.84c-.287.014-.52.064-.7.151-.181.086-.324.2-.431.34zm-18.071 7.953c-.731.41-1.603.615-2.618.615-1.615 0-2.827-.504-3.638-1.511-.811-1.008-1.216-2.192-1.216-3.554 0-.994.21-1.877.63-2.647a4.456 4.456 0 0 1 1.767-1.792c.757-.424 1.616-.636 2.577-.636.981 0 1.83.204 2.548.611.717.407 1.283 1.001 1.697 1.782.413.78.62 1.671.62 2.672 0 1.001-.212 1.892-.635 2.673-.424.781-1.001 1.376-1.732 1.787zm-.005-6.822c-.227-.547-.569-.973-1.026-1.276a2.731 2.731 0 0 0-1.547-.456c-.76 0-1.404.301-1.932.901-.667.748-1.001 1.835-1.001 3.263 0 1.375.284 2.423.851 3.143.514.641 1.212.961 2.092.961.567 0 1.073-.15 1.517-.45.444-.3.802-.779 1.076-1.436.273-.658.41-1.43.41-2.318 0-.867-.147-1.645-.44-2.332zM60.32 13.569c-.668.607-1.293 1.037-1.877 1.291a4.39 4.39 0 0 1-1.757.38c-1.208 0-2.21-.485-3.008-1.456-.797-.971-1.196-2.141-1.196-3.509 0-.974.212-1.866.636-2.677.423-.811.982-1.43 1.676-1.857a4.274 4.274 0 0 1 2.283-.641c.634 0 1.221.11 1.761.331.541.22 1.035.55 1.482.991V2.007h-1.682v-.851c.454-.04.869-.118 1.246-.235.377-.116.85-.318 1.417-.605h.751v12.142c0 .56.013.9.04 1.021.066.253.18.43.34.53.16.1.47.15.931.15h.43V15l-3.473.16v-1.591zm0-4.775c0-.541-.102-.983-.305-1.326-.204-.344-.538-.643-1.001-.896a2.9 2.9 0 0 0-3.033.095c-.491.317-.875.774-1.152 1.371-.277.598-.415 1.32-.415 2.167 0 .801.128 1.493.385 2.077.257.584.603 1.028 1.036 1.332.434.303.878.455 1.332.455.447 0 .954-.128 1.521-.385a6.19 6.19 0 0 0 1.632-1.106V8.794zm-13.992 5.365h.41c.407 0 .664-.032.771-.095.106-.064.16-.149.16-.256 0-.107-.1-.26-.3-.461a2.03 2.03 0 0 1-.111-.12l-2.662-3.052-1.643 1.242v1.311c0 .487.036.807.11.961.073.153.188.27.345.35.157.08.459.12.906.12h.371V15H39.54v-.841c.58-.006.937-.03 1.071-.07a.83.83 0 0 0 .505-.39c.103-.187.155-.547.155-1.081V1.987H39.54v-.831c.851-.066 1.733-.346 2.644-.84h.769v9.988l3.682-2.921c.588-.467.881-.778.881-.931 0-.094-.063-.167-.19-.221-.08-.033-.277-.05-.591-.05h-.53v-.84h5.079v.84c-.567 0-1.021.059-1.361.176-.34.116-.734.345-1.181.685L45.848 9.27l3.416 3.728c.326.36.593.614.8.761.207.147.414.248.621.305.207.057.53.089.971.095V15h-5.328v-.841zm-8.35-6.947a.847.847 0 0 1-.31-.05 2.072 2.072 0 0 1-.381-.22c-.367-.24-.674-.36-.921-.36-.333 0-.7.14-1.101.42-.507.361-.904.714-1.191 1.061v4.615c0 .4.022.672.065.816a.878.878 0 0 0 .586.595c.147.047.404.07.771.07h.33V15h-5.175v-.841h.43c.407 0 .674-.036.801-.11a.92.92 0 0 0 .385-.415c.084-.177.126-.496.126-.956V6.772h-1.732v-.831c.486-.039.918-.12 1.297-.242a7.07 7.07 0 0 0 1.298-.599h.748v1.892a5.515 5.515 0 0 1 1.652-1.381c.627-.34 1.191-.511 1.691-.511.494 0 .885.117 1.172.351.286.233.43.517.43.851 0 .24-.095.452-.285.635a.95.95 0 0 1-.686.275zm-9.509 7.958c-.474 0-.873-.067-1.196-.2a1.956 1.956 0 0 1-.796-.586 1.948 1.948 0 0 1-.401-.915c-.8.627-1.525 1.067-2.172 1.321a5.35 5.35 0 0 1-1.962.38c-.921 0-1.668-.25-2.242-.751-.574-.5-.861-1.087-.861-1.761 0-.407.105-.794.316-1.161.21-.367.531-.691.962-.971.431-.281 1.107-.527 2.029-.741.922-.214 2.202-.407 3.839-.581l.001-1.091c0-.74-.207-1.269-.622-1.586-.414-.317-.999-.476-1.755-.476-.375 0-.702.045-.983.135-.281.09-.507.214-.677.371a1.47 1.47 0 0 0-.377.535c-.033.074-.113.357-.24.851-.154.601-.464.901-.931.901a.839.839 0 0 1-.646-.265c-.163-.177-.245-.416-.245-.716 0-.44.163-.872.49-1.296.327-.424.826-.774 1.497-1.051.671-.277 1.463-.416 2.377-.416.854 0 1.585.132 2.192.395.608.264 1.055.642 1.342 1.135.2.34.3.96.3 1.86v3.849c0 .547.017.904.05 1.07.073.287.202.502.385.645.184.144.422.215.716.215.307 0 .674-.07 1.101-.211v.872c-.554.16-1.051.24-1.491.24zm-2.49-5.095c-1.549.227-2.507.384-2.874.471-.728.167-1.249.35-1.563.55-.313.201-.537.416-.671.646a1.412 1.412 0 0 0 .026 1.491c.15.244.362.436.636.576.273.14.564.21.871.21.434 0 .925-.103 1.472-.31.548-.207 1.249-.611 2.104-1.211l-.001-2.423zm-14.357 4.084h.381c.34 0 .589-.026.745-.08a.865.865 0 0 0 .391-.265.71.71 0 0 0 .175-.386c.033-.273.05-.487.05-.64V2.508L8.804 15H7.803L3.214 2.688v9.89c0 .503.043.844.13 1.022a.911.911 0 0 0 .406.413c.183.098.512.146.986.146h.32V15H.141v-.841h.28c.474 0 .813-.05 1.016-.15a.901.901 0 0 0 .436-.425c.086-.184.13-.546.13-1.086V3.379c0-.511-.037-.849-.11-1.013a.725.725 0 0 0-.366-.368c-.17-.08-.472-.121-.905-.121H.141v-.841h4.411l4.122 11.061 4.027-11.061h4.257v.841h-.361c-.434 0-.726.037-.876.111a.78.78 0 0 0-.355.388c-.087.185-.13.489-.13.913v9.209c0 .58.035.957.105 1.131.07.173.187.305.35.395.164.09.466.135.906.135h.361V15h-5.336v-.841z"/></svg>');
		text-indent: -9999em;
		}
	.copyright {
		line-height: 18px;
		text-align: right;
		}
	.demo-control, .copyright {
		white-space: nowrap;
		}
	.demo-control, .open-control {
		text-align: center;
		}
		.header .toolbar-button {
			text-decoration: underline;
		}
		.header .toolbar-button,
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.3);
			color: white;
			background-clip: padding-box;
			border-color: transparent;
			border-style: solid;
			border-width: 9px 1px;
			height: 48px;
			min-width: 30px;
			line-height: 30px;
			padding: 0 5px;
			cursor: pointer;
			cursor: hand;
			display: inline-block;
			vertical-align: top;
			}
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.15);
			display: inline-block;
			}
		.demo-control .control-input {
			display: none;
			}
		.demo-control .control-input:checked + .control-item {
			background-color: rgba(255, 255, 255, 0.4);
			}

@media screen and (min-width: 825px) {
	.header-item {
		flex: 0 0 25%;
	}
	.header-item.copyright {
		flex: 1 1 10%;
	}
	.demo-control {
		text-align: left;
		padding-left: 16px;
	}
	.open-control {
		text-align: right;
		padding-right: 20px;
	}
}

.container {
	padding-top: 48px;
	overflow: hidden;
}
.opt__strict .not-strict {
	opacity: 0.3;
}

.source, .ldt label.ldt-label {
	padding: 0;
}

.source, .ldt pre.ldt-pre, .ldt textarea {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	line-height: 21px;
}
pre.ldt-pre span {
	vertical-align: top;
}
.ldt pre, .ldt textarea {
	padding: 16px 16px;
}
textarea.source {
	padding: 16px 16px;
	width: 100%;
}
textarea {
	resize: none;
	display: block;
	outline: none;
	border: 0;
	margin: 0;
}
.result-html img,
.result-html .svg-preview {
	max-width: 100%;
}
.result-src,
.result-habr,
.result-htmltex,
.result-debug,
.result-html {
	display: none;
	padding: 16px 16px;
	margin: 0;
	overflow: auto;
}
.result-src,
.result-habr,
.result-htmltex,
.result-debug {
	white-space: pre-wrap;
}
.result-debug {
	font-size: 12px;
}
.result-src-content,
.result-habr-content,
.result-htmltex-content,
.result-debug-content {
	white-space: pre-wrap;
}

.result-as-html .result-html,
.result-as-habr .result-habr,
.result-as-htmltex .result-htmltex,
.result-as-debug .result-debug,
.result-as-src .result-src {
	display: block;
}

.result-html .svg-preview {
	overflow: visible;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	}

.hljs {
	background: none;
	padding: 0;
}

.half-width {
	position: relative;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: #fce9d1;
}
::-webkit-scrollbar-thumb {
	background: #c3986a;
}
::-webkit-scrollbar-corner {
	background: #e5cda5;
}


/* Markdown block highlight styles */
.ldt .header,
.ldt .header2 {
	font-weight: bold;
	color: blue;
}
.ldt .quote {
	background: #fff3ea;
}
.ldt .list {
	background: #f2ffef;
}
.ldt .list-mark {
	font-weight: bold;
}
.ldt .fence {
	background: #eee;
}


/* Markdown inline highlight styles */
.ldt .sub,
.ldt .sup {
	color: goldenrod;
}
.ldt .code {
	background: #eee;
}
.ldt .link {
	color: blue;
}
.ldt .latex {
	color: #7ca600;
}
.ldt .bold {
	font-weight: bold;
}
.ldt .italic {
	color: #0dd;
}
.ldt .strike {
	text-decoration: line-through;
}
.ldt .latexBlock.keyword {
	color: blue;
}
.ldt .latexBlock.keyword2 {
	color: #0dd;
}
.ldt .latexBlock.keyword3 {
	color: #8ECA81;
}
.ldt .latexBlock.bracket {
	color: #ff0150;
}
.ldt .latexBlock.comment {
	color: #aaa;
}
.ldt .latexBlock.index {
	color: #f5d4a5;
}
.ldt .latexBlock.delimeter {
	font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Chrome hack for the caret color. */
	.ldt textarea {
		color: #000 !important;
		-webkit-text-fill-color: rgba(0, 0, 0, 0.2);
	}

	.ldt textarea::-webkit-input-placeholder {
		text-shadow: none;
		-webkit-text-fill-color: initial;
	}
}

@media screen and (max-width: 824px) {
	div.header {font-size: 15px;}
}
@media screen and (max-width: 639px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-habr,
	.result-htmltex,
	.result-debug,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	div.header {font-size: 14px;}
	h1.title {
		width: 120px;
		height: 30px;
		background-size: contain;
		top: 0;
	}
}
@media screen and (max-width: 459px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-habr,
	.result-htmltex,
	.result-debug,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	div.header {font-size: 14px;}
	h1.title {
		width: 28px;
		height: 30px;
		background-size: auto 90%, auto;
		background-position: 0 50%, 200% 0;
		left: -4px;
	}
	.header .toolbar-button, .demo-control .control-item {
		padding: 0 1px;
	}
}
@media screen and (max-width: 599px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-habr,
	.result-htmltex,
	.result-debug,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
	}

	.copyright {
		display: none;
	}

	.half-width {
		width: 85%;
		margin-right: -70%;
	}

	#source-block {
		z-index: 1;
	}

	#container-block-source #source-block,
	#container-block-result #result-block {
		z-index: 10;
	}

	#container-block-source #result-block,
	#container-block-result #source-block {
		background: #999;
		opacity: 0.6;
	}

	#container-block-source #result-block .toolbar,
	#container-block-source #result-block .demo-control,
	#container-block-result #source-block .toolbar {
		display: none;
	}
}
