@viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@media screen {
	html,
	body,
	.full-height {
		height: 100%;
	}

	.container {
		padding-top: 48px;
		overflow: hidden;
		white-space: nowrap;
		}
		.half-width, .slider {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			}
		.half-width {
			position: relative;
			width: calc(50% - 3px);
			background-color: #fff;
			}
		.slider {
			width: 6px;
			cursor: ew-resize;
			background: radial-gradient(rgba(0, 0, 0, 0.1) 21%, transparent 22%) 3px 3px,
		radial-gradient(rgba(0, 0, 0, 0.1) 21%, transparent 22%) 0 0;
			background-size: 6px 6px;
			/* Disabling draggability */
			left: 0 !important;
			top: 0 !important;
			transform: none !important;
			}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}
body, textarea, button {
	font: 16px/1.5 "Noto Serif", serif;
}
sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	top: 0.4em;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
h1, h2, h3 {
	line-height: 1.2;
	margin: 1em 0 0;
	font-weight: normal;
	page-break-after: avoid;
	break-after: avoid;
	}
	h1 {
		margin: 0.5em 0 0.25em;
		font-size: 225%;
		}
	h2 {
		margin: 1em 0 0.25em;
		font-size: 175%;
		}
	h3 {
		font-size: 125%;
		}

body.e404 {
	background: #c6b4aa;
	color: #742600;
}
div.e404-body {
	padding: 0 16px;
	font-size: 2em;
}
.e404-text {
	font-size: 10em;
	line-height: 0.9;
	margin: 0;
}
div.e404-header {
	background: #742600;
	color: #fff;
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0 16px;
}
div.header {
	background: #742600;
	color: #fff;
	padding: 0 16px;
	margin: 0;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 20;
	}
	.header-item {
		flex: 0 0 auto;
		}
	.header a.link {
		color: #fff;
		text-decoration: none;
		border-bottom: thin solid rgba(255, 255, 255, 0.7);
		height: 16px;
		display: inline-block;
		}
	h1.title {
		position: relative;
		left: -1px;
		top: 1px;
		margin: 0;
		width: 133px;
		height: 33px;
		background:
			0 0 no-repeat url(../../i/logo_.svg),
			1px 100% no-repeat url(../../i/sublogo_.svg);
		text-indent: -9999em;
		}
	.copyright {
		line-height: 18px;
		text-align: right;
		}
	.open-control, .demo-control, .copyright {
		white-space: nowrap;
		}
	.demo-control, .open-control {
		text-align: center;
		}
		.header .toolbar-button,
		.demo-control .control-item {
			display: inline-block;
			vertical-align: middle;
			}
		.header .toolbar-button,
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.3);
			color: white;
			background-clip: padding-box;
			border-color: transparent;
			border-style: solid;
			border-width: 9px 1px;
			height: 48px;
			min-width: 30px;
			line-height: 30px;
			padding: 0 4px;
			text-align: center;
			cursor: pointer;
			cursor: hand;
			}
		.demo-control .control-item {
			background-color: rgba(255, 255, 255, 0.15);
			display: inline-block;
			}
		.demo-control .control-input {
			display: none;
			}
		.demo-control .control-input:checked + .control-item {
			background-color: rgba(255, 255, 255, 0.4);
			}

@media screen and (min-width: 875px) {
	.header-item {
		flex: 0 0 25%;
	}
	.header-item.copyright {
		flex: 1 1 10%;
	}
	.demo-control {
		text-align: left;
		padding-left: 16px;
	}
	.open-control {
		text-align: right;
		padding-right: 20px;
	}
}

.opt__strict .not-strict {
	opacity: 0.3;
}

.source, .ldt label.ldt-label {
	padding: 0;
}

.source, .ldt pre.ldt-pre, .ldt textarea {
	font-family: Consolas, "Liberation Mono", "Ubuntu Mono", monospace;
	font-size: 14px;
	line-height: 21px;
}
pre.ldt-pre span {
	vertical-align: top;
}
.ldt pre, .ldt textarea {
	padding: 16px 16px 0;
}
textarea.source {
	padding: 16px 16px 0;
	width: 100%;
}
textarea {
	resize: none;
	display: block;
	outline: none;
	border: 0;
	margin: 0;
}
.result-html img,
.result-html .svg-preview {
	max-width: 100%;
}
.result-src,
.result-html {
	display: none;
	padding: 16px 16px 16px 13px;
	margin: 0;
	overflow: auto;
	scrollbar-width: thin;
}
.ldt {
	scrollbar-width: thin;
}
.result-src {
	white-space: pre-wrap;
}
.result-src-content{
	white-space: pre-wrap;
}

.result-as-html .result-html,
.result-as-habr .result-src,
.result-as-htmltex .result-src,
.result-as-debug .result-src,
.result-as-md .result-src,
.result-as-src .result-src {
	display: block;
}

.result-html {
	padding-top: 0;
	padding-bottom: 0;
	}
	.result-html .svg-preview {
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
		break-inside: avoid;
		zoom: 1.07;
		}
	.result-html p.line[align="center"] {
		text-align: center;
		break-inside: avoid;
		break-before: avoid;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		}
		.result-html p.line[align="center"] span {
			margin: 0 0 0 auto;
			}
		.result-html p.line[align="center"] .svg-preview {
			flex-grow: 1;
			}

@media print {
	.result-html {
		padding: 0;
	}
	.source, .ldt pre.ldt-pre, .ldt textarea {
		display: none;
	}
	div.header {
		display: none;
	}
	body:after {
		margin-top: 0.25em;
		border-top: #ddd 1px dotted;
		font-size: 0.75em;
		display: block;
		content: "Created in Upmath.me";
	}
}

.hljs {
	background: none;
	padding: 0;
}

body {
	scrollbar-color: #c3986a #fce9d1;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: #fce9d1;
}
::-webkit-scrollbar-thumb {
	background: #c3986a;
}
::-webkit-scrollbar-corner {
	background: #e5cda5;
}


/* Markdown block highlight styles */
.ldt .header,
.ldt .header2 {
	font-weight: bold;
	color: blue;
}
.ldt .quote {
	background: #fff3ea;
}
.ldt .list {
	background: #f2ffef;
}
.ldt .list-mark {
	font-weight: bold;
}
.ldt .fence {
	background: #eee;
}


/* Markdown inline highlight styles */
.ldt .sub,
.ldt .sup {
	color: goldenrod;
}
.ldt .code {
	background: #eee;
}
.ldt .link {
	color: blue;
}
.ldt .latex {
	color: #7ca600;
}
.ldt .bold {
	font-weight: bold;
}
.ldt .italic {
	color: #0dd;
}
.ldt .strike {
	text-decoration: line-through;
}
.ldt .latexBlock.keyword {
	color: blue;
}
.ldt .latexBlock.keyword2 {
	color: #0dd;
}
.ldt .latexBlock.keyword3 {
	color: #8ECA81;
}
.ldt .latexBlock.bracket {
	color: #ff0150;
}
.ldt .latexBlock.comment {
	color: #aaa;
}
.ldt .latexBlock.index {
	color: #f5d4a5;
}
.ldt .latexBlock.delimeter {
	font-weight: bold;
}

.ldt textarea {
	caret-color: #000;
	/* Some opacity for old browsers and debugging sync problems of textarea and underlying highlighted text. */
	color: rgba(0,0,0,0.1) !important;
}

@media screen and (max-width: 950px) {
	.result-src,
	.result-html {
		padding-left: 16px;
	}
	.half-width { width: 50% !important; }
	.slider { display: none; }
}

@media screen and (max-width: 874px) {
	div.header {font-size: 15px;}
}
@media screen and (max-width: 639px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	.e404-text {
		font-size: 5em;
	}

	div.header {font-size: 14px;}
	h1.title {
		width: 120px;
		height: 30px;
		background-size: contain;
		top: 0;
	}
}
@media screen and (max-width: 459px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
		}

	div.header {font-size: 14px;}
	h1.title {
		width: 28px;
		height: 30px;
		background-size: auto 90%, auto;
		background-position: 0 50%, 200% 0;
		left: -4px;
	}
	.header .toolbar-button, .demo-control .control-item {
		padding: 0 1px;
	}
}
@media screen and (max-width: 599px) {
	.ldt pre, .ldt textarea, textarea.source,
	.result-src,
	.result-html,
	div.header {
		padding-left: 12px;
		padding-right: 12px;
	}

	.copyright {
		display: none;
	}

	.half-width {
		width: 85% !important;
		margin-right: -70%;
	}

	#source-block {
		z-index: 1;
	}

	#container-block-source #source-block,
	#container-block-result #result-block {
		z-index: 10;
	}

	#container-block-source #result-block,
	#container-block-result #source-block {
		background: #999;
		opacity: 0.6;
	}

	#container-block-source #result-block .toolbar,
	#container-block-source #result-block .demo-control,
	#container-block-result #source-block .toolbar {
		display: none;
	}
}
