<?php

//define('DEBUG', 1);

/**
 * External binaries
 */

define('TEX_PATH', '/home/tex/tl-2013/bin/i386-linux/');
define('SVGO_PATH', '../node_modules/svgo/bin');

/**
 * Setting up directories
 * Relative to www/render.php
 */

// LaTeX document templates
define('TPL_DIR', '../tpl/');

// Render errors log
define('LOG_DIR', '../tex_logs');

// Cache and temp dirs
define('TMP_DIR', 'tmp/');
define('CACHE_SUCCESS_DIR', '_cache/');
define('CACHE_FAIL_DIR', '_error/');

/**
 * Setting up rendering scale
 * Do not forget to clear the cache dir when changing this.
 */

define('OUTER_SCALE', 1.25);
