upstream php-sock {
	server unix:/var/run/php5-fpm.sock;
}

upstream php-tex-sock {
	server unix:/var/run/php5-fpm-tex.sock;
}

server {
	listen   80;
	server_name  tex.s2cms.ru tex.s2cms.com;

	root   /var/www/tex.s2cms.ru/www;
	access_log  /var/www/tex.s2cms.ru/logs/access.log;
	error_log /var/www/tex.s2cms.ru/logs/error.log error;

	location ~ ^(?s)/(?<ext>svg|png)/(?<formula>.*)$ {
		gzip_static   on;
		gzip_vary     on;
		gzip_proxied  expired no-cache no-store private auth;

		#expires 1d;

		set_by_lua $file_path '
			local formula = ngx.var.formula;
			formula = formula:gsub("^%s*(.-)%s*$", "%1");
			local md5 = ngx.md5(formula);
			return md5:sub(1, 2) .. "/" .. md5:sub(3, 4) .. "/" .. md5:sub(5) .. "." .. ngx.var.ext;
		';


		if (-f $document_root/_error/$file_path) {
			return 400;
		}

		try_files /_cache/$file_path @s2_latex_renderer;
	}

	location /latex.js {
		gzip_static   on;
		gzip_vary     on;
		gzip_proxied  expired no-cache no-store private auth;
	}

    location /css {
		gzip_static   on;
		gzip_vary     on;
		gzip_proxied  expired no-cache no-store private auth;
    }

    location /js {
		gzip_static   on;
		gzip_vary     on;
		gzip_proxied  expired no-cache no-store private auth;
	}

	location / {
		index           index.html index.php;
	}

    location /g/ {
        try_files       $uri $uri/ /index.php;
    }

	location ~ \.php$ {
		try_files       $uri =404;
		include	        /etc/nginx/fastcgi_params;
		fastcgi_pass    php-sock;
	}

	location @s2_latex_renderer {
		include	        /etc/nginx/fastcgi_params;
		fastcgi_pass    php-tex-sock;
		fastcgi_param   SCRIPT_FILENAME $document_root/render.php;
		fastcgi_param   SCRIPT_NAME /render.php;
	}
}
