html,
body,
.full-height {
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	min-width: 600px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
}
body, textarea, button {
	font: 16px/1.5 Calibri, "Trebuchet MS", sans-serif;
}
h1, h2, h3 {
	font: 16px/1.2 Cambria, Georgia, serif;
	margin: 1em 0 0;
	font-weight: normal;
	}
	h1 {
		margin: 1em 0 0.25em;
		font-size: 225%;
		}
	h2 {
		margin: 1em 0 0.25em;
		font-size: 175%;
		}
	h3 {
		font-size: 125%;
		}
div.header {
	background: #742600;
	color: #fff;
	padding: 8px 2% 0;
	margin: 0;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	}
	.menu {
	}
	.header-item {
		display: inline-block;
		vertical-align: middle;
	}
	.header a.link {
		color: #fff;
		}
	h1.title {
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		line-height: 28px;
		margin: 0;
		flex: 1 0 auto;
		}
	.copyright {
		top: 10px;
		right: 12px;
		position: absolute;
		letter-spacing: 0.02em;
		}
.container {
	padding-top: 70px;
	overflow: hidden;
}
.opt__strict .not-strict {
	opacity: 0.3;
}

.source, .ldt label.ldt-label {
	padding: 0;
}

.source, .ldt pre.ldt-pre, .ldt textarea {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	line-height: 21px;
}
pre.ldt-pre span {
	vertical-align: top;
}
.ldt pre, .ldt textarea {
	padding: 16px 4%;
}
textarea.source {
	padding: 16px 4%;
	width: 100%;
}
textarea {
	resize: none;
	display: block;
	outline: none;
	border: 0;
	margin: 0;
}
.result-html img,
.result-html .svg-preview {
	max-width: 100%;
}
.result-src,
.result-habr,
.result-htmltex,
.result-debug,
.result-html {
	display: none;
	padding: 16px 4%;
	margin: 0;
	overflow: auto;
	background-color: #fff;
}
.result-src,
.result-habr,
.result-htmltex,
.result-debug {
	white-space: pre-wrap;
}
.result-debug {
	font-size: 12px;
}
.result-src-content,
.result-habr-content,
.result-htmltex-content,
.result-debug-content {
	white-space: pre-wrap;
}

.result-as-html .result-html,
.result-as-habr .result-habr,
.result-as-htmltex .result-htmltex,
.result-as-debug .result-debug,
.result-as-src .result-src {
	display: block;
}

.result-html .svg-preview {
	overflow: visible;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.toolbar {
	position: absolute;
	top: -24px;
	}
	.toolbar.left {
		left: 4%;
		}
	.toolbar.right {
		right: 12px;
		}
	.toolbar-button {
		text-align: center;
		width: 24px;
		}
.demo-control {
	position: absolute;
	top: -24px;
	left: 4%;
	}
	.demo-control .control-input {
		display: none;
	}
	.toolbar-button,
	.demo-control .control-item {
		color: white;
		background: rgba(255, 255, 255, 0.3);
		border: 0;
		height: 24px;
		line-height: 24px;
		cursor: pointer;
		cursor: hand;
		}
	.demo-control .control-item {
		background: rgba(255, 255, 255, 0.15);
		display: inline-block;
		padding: 0 5px;
		}
		.demo-control .control-input:checked + .control-item {
			background: rgba(255, 255, 255, 0.4);
			}
.hljs {
	background: none;
	padding: 0;
}

.half-width {
	position: relative;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: #fce9d1;
}
::-webkit-scrollbar-thumb {
	background: #c3986a;
}
::-webkit-scrollbar-corner {
	background: #e5cda5;
}


/* Markdown block highlight styles */
.ldt .header,
.ldt .header2 {
	font-weight: bold;
	color: blue;
}
.ldt .quote {
	background: #fff3ea;
}
.ldt .list {
	background: #f2ffef;
}
.ldt .list-mark {
	font-weight: bold;
}
.ldt .fence {
	background: #eee;
}


/* Markdown inline highlight styles */
.ldt .sub,
.ldt .sup {
	color: goldenrod;
}
.ldt .code {
	background: #eee;
}
.ldt .link {
	color: blue;
}
.ldt .latex {
	color: #7ca600;
}
.ldt .bold {
	font-weight: bold;
}
.ldt .italic {
	color: #0dd;
}
.ldt .strike {
	text-decoration: line-through;
}
.ldt .latexBlock.keyword {
	color: blue;
}
.ldt .latexBlock.keyword2 {
	color: #0dd;
}
.ldt .latexBlock.keyword3 {
	color: #8ECA81;
}
.ldt .latexBlock.bracket {
	color: #ff0150;
}
.ldt .latexBlock.comment {
	color: #aaa;
}
.ldt .latexBlock.index {
	color: #f5d4a5;
}
.ldt .latexBlock.delimeter {
	font-weight: bold;
}

.likely {
	vertical-align: middle;
	margin-right: 0.3em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Chrome hack for the caret color. */
	.ldt textarea {
		color: #000 !important;
		-webkit-text-fill-color: rgba(0, 0, 0, 0.2);
	}

	.ldt textarea::-webkit-input-placeholder {
		text-shadow: none;
		-webkit-text-fill-color: initial;
	}
}

@media screen and (max-width: 800px) {
	.likely {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	div.header {
		padding-top: 3px;
		height: 60px;
	}

	.container {
		letter-spacing: 0;
		padding-top: 60px;
	}

	.copyright {
		top: 5px;
	}
}

@media screen and (max-width: 666px) {
	h1.title {
		font-size: 15px;
		letter-spacing: 0.1em;
	}
}