/* colors */
body {
	background: #FFFBDA; color: #000;
	}
.sample-source, .add-formula {
	color: #743200;
	}
.add-formula {
	border-color: #743200;
	border-color: rgba(116, 50, 0, 0.6);
}
a:link {
	color: #06c;
	border-bottom-color: #ace;
}
a:visited {
	color: #939;
	border-bottom-color: #cac;
}
a:active, a:hover {
	color: #f30;
	border-bottom-color: #fa9;
}
#editor {
	background: #FFD379;
	}
#faq {
	background: #fff;
	}

.header,
#moto {
	background: #742600;
	}
	.header {
		background: rgba(116, 38, 0, 0.8);
		}

.header,
#moto,
a.nav-item {
	color: #fff;
	transition: background 0.2s ease-out;
	}
	a.nav-item:hover {
		background: #7D9FFD;
		}

.nav-link {
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.6);
}
.load-error {
	border-color: #f00;
}
input[type="text"], textarea {
	background: #fff;
	color: #000;
	border-color: #ba9b3f;
}
.screenshot {
	background: #fff;
	box-shadow: 0 5px 25px rgba(130, 100, 80, 0.6);
	}

body {
	position: relative;
	font: 16px/1.5 Calibri, "Trebuchet MS", sans-serif;
	margin: 0;
	}
code, input, textarea { font-size: 1em; }
code, textarea {font-family: Consolas, monospace;}
input, .add-formula {font-family: Segoe UI, Tahoma, sans-serif;}
input[type="text"], textarea {
	border-width: 1px;
	border-style: solid;
	padding: 2px;
/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
*/
	}
a {
	text-decoration: none;
	border-bottom: 1px solid;
	}
.sample-source, .sample-rendered {
	display: inline-block;
	vertical-align: top;
	}
	.sample-source {
		font: 1em/1.2 Consolas, monospace;
		white-space: pre;
		white-space: pre-wrap;
		width: 55%;
		margin-right: 4%;
		}
	.sample-rendered {
		font-family: Cambria, Georgia, serif;
		width: 40%;
		}
.sample-title {border-bottom: 1px solid #eda; margin-bottom: 0.325em;}
h1, h2, h3 {
	font: 16px/1.5 Cambria, Georgia, serif;
	margin: 1em 0 0;
	font-weight: normal;
	}
h1 {
	margin: 12px 0 0;
	font-size: 225%;
	}
h2 {
	margin: 1em 0 0.25em;
	font-size: 175%;
	}
h3 {
	font-size: 125%;
	}
h2+h3 {margin-top: 0;}
.section {
	padding: 1px 1em;
	}
	.section-content {
		max-width: 850px;
		margin: 0 auto;
		}
	.header {
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		height: 45px;
		box-shadow: 0 2px 3px rgba(140, 100, 80, 0.4);
		}
		.header-content {
			padding: 0 1em;
		}
		.nav {
			margin: 0 -1em;
			height: 45px;
			overflow: hidden;
			}
			a.nav-item {
				display: inline-block;
				vertical-align: middle;
				height: 45px;
				line-height: 45px;
				padding: 0 1em;
				text-decoration: none;
				border: 0;
				}
	#moto {
		padding: 5px 1em 45px;
		margin-bottom: -45px;
		position: relative;
		}
		.lang-block {
			position: absolute;
			right: 18px;
			top: 15px;
			}
			a.lang-link {
				color: #fff;
				border: 1px solid #fff;
				padding: 1px 4px 2px;
				text-transform: uppercase;
				opacity: 0.5;
				transition: opacity 0.3s ease-out;
				}
				a.lang-link:hover {
					opacity: 1;
					}
.editor-text, .editor-result {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.editor-text {
	-webkit-transition: border-color 0.2s;
	transition: border-color 0.2s;
	resize: none;
	}
.editor-preview {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
.add-formula {
	font-size: 13px;
	line-height: 15px;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	background: transparent;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 9px;
	}
.nav-link {
	line-height: 1;
	text-decoration: none;
	border-width: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	}
.inside .nav-link {
	border-bottom-style: dashed;
	}
p, pre, .url-line {
	margin: 0 0 1.5em;
	}
.sample-box {
	position: relative;
	margin-bottom: 1.5em;
	}
.url-line {
	border-collapse: collapse;
	width: 100%;
	}
	.url-cell {
		border: 0;
		padding: 0;
		}


.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	}

.sticky:before,
.sticky:after {
	content: '';
	display: table;
	}

.likely {
	vertical-align: middle;
}